<p id="notice"><%= notice %></p>

<p>
  <b>Is mailed:</b>
  <%= @biz_agenter.is_mailed %>
</p>

<p>
  <b>Is called:</b>
  <%= @biz_agenter.is_called %>
</p>

<p>
  <b>Is sms sent:</b>
  <%= @biz_agenter.is_sms_sent %>
</p>

<p>
  <b>Cate:</b>
  <%= @biz_agenter.cate %>
</p>

<p>
  <b>Bar number:</b>
  <%= @biz_agenter.bar_number %>
</p>

<p>
  <b>Name:</b>
  <%= @biz_agenter.name %>
</p>

<p>
  <b>Qq:</b>
  <%= @biz_agenter.qq %>
</p>

<p>
  <b>Email:</b>
  <%= @biz_agenter.email %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @biz_agenter.mobile_phone %>
</p>

<p>
  <b>Tel phone:</b>
  <%= @biz_agenter.tel_phone %>
</p>

<p>
  <b>Other contact:</b>
  <%= @biz_agenter.other_contact %>
</p>

<p>
  <b>Company:</b>
  <%= @biz_agenter.company %>
</p>

<p>
  <b>Description:</b>
  <%= @biz_agenter.description %>
</p>

<p>
  <b>Note:</b>
  <%= @biz_agenter.note %>
</p>


<%= link_to 'Edit', edit_biz_agenter_path(@biz_agenter) %> |
<%= link_to 'Back', biz_agenters_path %>
