<% title ["新闻资讯", "红宝石信息技术网，专业网站建设专家"].join(', ') %>
<% meta_keywords ["成都红宝石信息技术网", "网站建设，网站推广，公关软文，电子商务，企业信息化，Ruby on Rails"].join(', ') %>
<% meta_description ["红宝石信息技术网，多年互联网从业经验，团队为企业提供企业策划、网站建设、网络推广、公关软文、电子商务等一站式服务！联系电话：15928661802"].join(', ') %>

<div class="list">
    <h3 class="titlbg">互联网动态</h3>
    <ul>
    <% @news_items.each do |item| %>
       <li>
          <h3 class="titbg" ><%=link_to item.title.to_s.truncate(30), news_item_path(item)%>
          <small>[<%=link_to item.news_cate.name, news_cate_path(item.news_cate), :target => "_blank"%>]</small></h3>
          <% unless item.image_path.blank? && item.image_url.blank? %>
            <div class="summary with_img">
              <% image_path = item.image_path.blank? ? item.image_url : item.image_path %>
              <%= image_tag image_path, :class => 'img_left', :height => '100' %>
          <% else %>
            <div class="summary">
          <% end %>
          <%= item.summary.blank? ? strip_tags(item.body).to_s.gsub(/[ ]+|\s+|\t+|\n+/, '').truncate(200) : strip_tags(item.summary)%>
          <%=item.updated_at.strftime('%Y-%m-%d %H:%M:%S').to_s unless item.updated_at.blank? %>
        </div>
      </li>
    <% end %>
    </ul>
    <div class="tags"><%= will_paginate @news_items, :next_label => "下一页", :prev_label => "上一页" %></div>
</div>