<%= render :partial => 'news_cates/menu' %>

<div class="list">
  <div style="margin:4px;">首页 > <a href="/news_cates">互联网观察</a> > <%=link_to @news_item.news_cate.name, news_cate_path(@news_item.news_cate_id)%></div>

  <div class="titlerb">
    <h1><%= @news_item.title %></h1>
    <p>发布时间: <%= @news_item.updated_at %></p>
  </div>
  <div class="content">
    <%= image_tag(@news_item.image_path) if params[:case] %><br/>
    
    <%= @news_item.body.html_safe unless @news_item.body.blank?%>
  </div>
</div>
