<div class="head">
  <div class="logo"><a href="#"><img src="/assets/logo.png" width="250px"/></a></div>
</div>
<div class="menu">
  <div class="meuu2">
    <ul>
      <li <%=current_class('home index') %>><a href='/'>首页</a></li>
      <li <%=current_class('service') %>><a href='/pages/service'>服务</a></li>
      <li <%=current_class('home case') %>><a href='/home/case'>成功案例</a></li>
      <li <%=current_class('news_cates') %>><a href='/news_cates'>互联网观察</a></li>
      <li <%=current_class('project_cates') %>><a href='/project_cates'>创业融资</a></li>
      <li <%=current_class('about') %>><a href='/pages/about'>关于我们</a></li>
      <li <%=current_class('career') %>><a href='/pages/career'>人才招聘</a></li>
    </ul>
  </div>
</div>
