<!DOCTYPE html> 
<html> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="zh-cn" />
  <meta name="robots" content="all" />
  <meta name="author" content="omero" />
  <meta name="Copyright" content="Omero Lcd, All Rights Reserved." />
  <title><%= yield(:title)%> </title>
  <meta name="keywords" content="<%= yield(:meta_keywords)%>" />
  <meta name="description" content="<%= yield(:meta_description)%>" />
    
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">

  </script>

</head> 
 
<body> 
 <div id="wrapper">
  <%=render :partial => "layouts/header" %>
   <div class="content">
     <%=yield %>
   </div>
   <%=render :partial => "layouts/footer" %>
 </div>
</body>
</html>