<!DOCTYPE html> 
<html> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="zh-cn" />
  <meta name="robots" content="all" />
  <meta name="author" content="inruby" />
  <meta name="Copyright" content="Inruby Lcd, All Rights Reserved." />
  <title><%= yield(:title) %> </title>
  <meta name="keywords" content="<%= yield(:meta_keywords)%>" />
  <meta name="description" content="<%= yield(:meta_description)%>" />
    
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function(){
      // $("#top_banner_flip").mouseover(function(){
      //   $("#top_banner").slideToggle("slow");
      // });

      //slide show 
      $('#slideshow1').sliders({ delay: 4500, speed: 800 });
      // $('#slideshow2').sliders({ delay: 4500, speed: 500,ease: 'swing' });
    });
  </script>
  <!--[if lt IE 7]>
    <link href="/assets/ie_style.css" rel="stylesheet" type="text/css" />
  <![endif]-->

  <%#
   #highlight code lib: https://github.com/isagalaev/highlight.js
   #download file from: http://softwaremaniacs.org/soft/highlight/en/download/
   %>
  <% if request['controller'] == 'news_items' %>
    <link rel="stylesheet" href="/highlight.js/solarized_light.min.css">
    <script src="/highlight.js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  <% end %>
  <%#highlight code end %>
</head> 
 
<body id="page1">
  <%=render :partial => "layouts/header" %>
  <div id="content">
    <div class="container">
      <div class="wrapper">
        <div class="aside">
          <% unless is_mobile_agent? %>
            <%=render :partial => "layouts/aside" %>
          <% end %>
           <%= yield :aside %>
        </div>
        <div class="mainContent">
          <%=yield %>
          <% if is_mobile_agent? %>
           <%=render :partial => "layouts/aside" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%=render :partial => "layouts/footer" %>
</body>
</html>